.title {
  font-size: 10rem;
  margin: 0;
}

.subtitle {
  font-size: 5rem;
}

.spaced {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

#root {
  height: 100%;
}

.layout {
  height: 100%;
}
